<a href="https://colab.research.google.com/github/maitreyee-github/Python-Learning/blob/main/ch01/Python_Fundamental_components.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ch01  : Fundamental components of Python

# **Let's understand basic Python objects first  :**


Number, \
string, \
List, \
Dictionary, \
Tuple, \
File

In [ ]:
integer = 5555
float = 0.55
string = "Maitreyee Sinha Chowdhury"
list = [1,'TWO', 3]
dictionary = {'Name':'Maitreyee','ID':1111, 'SEX':'F'}
tuple=(1,'Two', 3)

In [ ]:
print(integer)
print(float)
print(string)
print(list)
print(dictionary)
print(tuple)

5555
0.55
Maitreyee Sinha Chowdhury
[1, 'TWO', 3]
{'Name': 'Maitreyee', 'ID': 1111, 'SEX': 'F'}
(1, 'Two', 3)

# **Operator**


Numeric Operators \
Logical Operators \
Comparison Operator

# **Numeric Operator**

In [ ]:
x = 3 + 4
print(x)

7

In [ ]:
y=4-3
print(y)

1

In [ ]:
a=4*5
print(a)

20

In [ ]:
b=100/4
print(b)

25.0

In [ ]:
p=2**5
print(p)

32

In [ ]:
q=5%2
print(q)

1

In [ ]:
a=-5
print(a)

-5

In [ ]:
b=+4
print(b)

4

In [ ]:
a=-5
a=a+5
print(a)
a+=5
print(a)

0
5

**Numeric Built-in Functions**

 **abs(x)**
Performs |a| .....
returns absolute value , ignoring polarity......
Equivalent : N/A

In [ ]:
a=-100.5
b=abs(a)
print(b)

100.5

**divmod(x,y)**
Performs x/y ......
returns a tuple (Quotient, Reminder).....
Equivalent : (quotient = a/b , Reminder = a%b)

In [ ]:
x=divmod(5,4)
print(x)

(1, 1)

**pow(x,y)**
Performs x**y ( x to the power of y) ......
returns a integer .....
Equivalent : N/A
Exeptions : Negative power works

**pow(x,y,z)**
Performs (x**y)%z ( x to the power of y divided by z)  : More efficient option......
returns a float .....
Equivalent : 
Exeptions : Negative power does not work

In [ ]:
a=pow(2,5)
print(a)
a=pow(2,-5)
print(a)
a=pow(2,5,2)
print(a)
a=pow(2,5,-2)
print(a)
a=(-2,5,2)
print(a)

32
0.03125
0
0
(-2, 5, 2)

**round(x,[y])**
Rounds floating point number to 0 y digits......
returns a floating point only .....
Equivalent : N/A....
Exeptions : N/A

In [ ]:
x=round(20.15690000009546)
print(x)
x=round(abs(20.58999999999),2)
print(x)

20
20.59

# **String Operator**
Single Quote ('') & Double Quotes("") both work.

In [ ]:
S="Maitreyee Sinha Chowdhury" 
print(S)
S='Maitreyee Sinha Chowdury'
print(S)

Maitreyee Sinha Chowdhury
Maitreyee Sinha Chowdury

# **How to print Paragraph with Newline included**

In [ ]:
S='''Maitreyee Sinha Chowdhury
Shukla Sinha Choudhury'''
print(S)
S='''Maitreyee Sinha Chowdhury Shukla Sinha Choudhury'''
print(S)

Maitreyee Sinha Chowdhury
Shukla Sinha Choudhury
Maitreyee Sinha Chowdhury Shukla Sinha Choudhury

# **string concatenation**

In [ ]:
a='Maitreyee'
b='Sinha'
c='Chowdhury'
print(a + ' ' + b + ' ' +  c)

Maitreyee Sinha Chowdhury

In [ ]:
print('Maitreyee'*5)

MaitreyeeMaitreyeeMaitreyeeMaitreyeeMaitreyee

# **Length of a string**

In [ ]:
P=len('Maitreyee Sinha Chowdhury')
print(P)

25

# **String as arrays**
[0 to lenghth pf total string -1]

**Slicing**  
0th psition till end

In [ ]:
S="Maitreyee Sinha Chowdhury is an Data/AI/ML product architect"
#Print entire string
print (S[0:])
#Print 0 to 9th character
print(S[0:10])
#Another way to write entire string
print(S[10:len(S)])
print(len(S))
#print lasr 
print(S[:-30])
print(S[-30:])

Maitreyee Sinha Chowdhury is an Data/AI/ML product architect
Maitreyee
Sinha Chowdhury is an Data/AI/ML product architect
60
Maitreyee Sinha Chowdhury is a
n Data/AI/ML product architect

# **Formatting String**

In [ ]:
# Pulling values directly from a tuple into a string
S='Her name is %s & ID is %d' % ('Maitreyee Sinha Chowdhury', 1)
print(S)
# Pulling values directly from a disctionary into a string
Info = {'First': 'Maitreyee', 'Middle': 'Sinha', 'Last': 'Chowdhury', 'ID':1}
S="Her name is %(First)s %(Middle)s %(Last)s and ID is %(ID)d" % Info
print(S)

Her name is Maitreyee Sinha Chowdhury & ID is 1
Her name is Maitreyee Sinha Chowdhury and ID is 1

# **Lists**
1. uses [] \
2. mutable \
3. can house different datatypes as element values \
4. starts with index 0 \
5. ends with index -1

In [ ]:
# list of Numbers
L=[1, 2,3,4,5]
print(L)
# List of strings
L=['Maitreyee', 'Sinha', 'Chowdhury']
print(L)
#List of strings & Numbers
L=['Maitreyee','Sinha','Chowdhury', 1]
print(L)
#call elements by index
print(L[:2])

[1, 2, 3, 4, 5]
['Maitreyee', 'Sinha', 'Chowdhury']
['Maitreyee', 'Sinha', 'Chowdhury', 1]
['Maitreyee', 'Sinha']

# **SETS : combination of Lists**

In [ ]:
L=[['Maitreyee','Sinha', 'Chowdhury']
  ,[1234, 5678, 3456]]
print(L) #print entire list
print(L[0]) #print entire element from list
print(L[0][1]) #print an element partially
print(L[1][2]) # print an element partially & navigate thru index
print(len(L)) #print length of the SET 
print(len(L[0])) #print lenghth of a list inside the SET.

[['Maitreyee', 'Sinha', 'Chowdhury'], [1234, 5678, 3456]]
['Maitreyee', 'Sinha', 'Chowdhury']
Sinha
3456
2
3

**Concatenating list & a SET**

In [ ]:
L=[['Maitreyee','Sinha', 'Chowdhury']
  ,[1234, 5678, 3456]]
L1 = ['Shukla', 'Sinha', 'Choudhury']
print(L)
print(L1)
print(L[0] + L1) #concatenated 0th element from set L & entire list L1
#S= L[0] += ['Shukla Sinha Choudhury']
#print(S)

[['Maitreyee', 'Sinha', 'Chowdhury'], [1234, 5678, 3456]]
['Shukla', 'Sinha', 'Choudhury']
['Maitreyee', 'Sinha', 'Chowdhury', 'Shukla', 'Sinha', 'Choudhury']

**Repeating list elements N times**

In [ ]:
L=[1, 2, 3, 4, 100]
L1=L*3  # repeating elements 3 times
print(L1)

[1, 2, 3, 4, 100, 1, 2, 3, 4, 100, 1, 2, 3, 4, 100]

**Performing a single function on each element in the list : Map Functiom & Lambda Function**

In [ ]:
L1=[100, 200, 300, 400]
print(L1)
L2 = map(lambda x: x*5, L1) #multiply each element with 5
print(L1)
L3=[x*5 for x in L1] # equivalent to L2 mapping 
print(L3)

[100, 200, 300, 400]
[100, 200, 300, 400]
[500, 1000, 1500, 2000]

**Mutability of a list**

In [ ]:
S = ['Maitreyee', ' ', 'Chowdhury']
S[1] = 'Sinha'#added element in the list
print(S)
del S[2]#Delete 3rd element(index = 2)
print(S)

['Maitreyee', 'Sinha', 'Chowdhury']
['Maitreyee', 'Sinha']

# **Methods for list**

**Sort()**

In [ ]:
L=[1,5,7,9,10,4,4,8.5]
print (L.sort())
L.sort()
print(L)

None
[1, 4, 4, 5, 7, 8.5, 9, 10]

**append() & extend()**

In [ ]:
L=['Maitreyee', 'Sinha', 'Chowdhury']
print(L)
L.append(('Shukla','Sinha', 'Choudhury'))# append() helps you add any single object atthe end
print(L)
L.extend((1,2,3))# extend() helps with adding multiple objects
print(L)

['Maitreyee', 'Sinha', 'Chowdhury']
['Maitreyee', 'Sinha', 'Chowdhury', ('Shukla', 'Sinha', 'Choudhury')]
['Maitreyee', 'Sinha', 'Chowdhury', ('Shukla', 'Sinha', 'Choudhury'), 1, 2, 3]

**index()**

In [ ]:
L=['Maitreyee','Sinha','Chowdhury']
print(L)
L.index('Maitreyee') # Find the index for an object value/ element that you already know.

['Maitreyee', 'Sinha', 'Chowdhury']

0

**insert()**

In [ ]:
L=['Maitreyee','Sinha','Chowdhury']
L.insert(3, 'Eric Scott') # inserts at the end
print(L)
L.insert(0, 'Eric Scott') # inserts at exact specified position
print(L)

['Maitreyee', 'Sinha', 'Chowdhury', 'Eric Scott']
['Eric Scott', 'Maitreyee', 'Sinha', 'Chowdhury', 'Eric Scott']

**count()**

In [5]:
L=[1,2,3,3,8,9.100]
C=L.count(3)
print(C)

2

# **pop()**

In [11]:
L=[1,2,3,4,5,6]
P=L.pop()
print(P)
P=L.pop(3)
print(P)
P=L.pop(len(L)-L[0])
print(P)

6
4
5

# **Remove()**

In [13]:
L=[1,2,3,4,5,100]
P=L.remove(100)
print(P)
print(L)

None
[1, 2, 3, 4, 5]

# **Reverse()**

In [15]:
L=[1,2,3,4,5,6]
P=L.reverse()
print(P)
print(L)

None
[6, 5, 4, 3, 2, 1]

# **Sort()**

In [17]:
L=[6,2,9,4,8,6.7]
P=L.sort()
print(P)
print(L)

None
[2, 4, 6, 6.7, 8, 9]